# Dependencias
/node_modules/

# Archivos del servidor
.env
*.log

# Modelos pesados de FaceAPI
/public/faceapi_models/
/models/

# Subidas temporales y reportes
/public/uploads/
/uploads/

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos de build (si usas)
dist/
build/
